---
version: 4
---

@import 'variables';

// Override some main elements
.four-oh-four {
  img {
    border: 0;
    box-shadow: none;
  }

  h1 {
    font-size: 4.063rem;
    border-bottom-color: $color-gray-medium;
  }

  h2 {
    border-bottom: 0;
    font-size: 1.375rem;
  }

  .back-button {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
  }

  .gray {
    color: $color-gray;
  }

  .search-icon {
    background-color: $color-white;
  }
}
