<!DOCTYPE HTML>
<html lang="en">
  <head>
    <%= render '/head.*' %>
    <meta name="robots" content="noindex">
    <link rel="canonical" href="<%= @config[:base_url] %>/404.html">
    <link rel="stylesheet" href="<%= @items['/assets/stylesheets/404.*'].path %>">
  </head>
  <body class="gl-docs">
    <%= render '/header.*' %>
    <section class="container">
      <div class="row">
        <div class="col-12">
          <div class="wrapper d-flex justify-content-center">
            <div class="main class pl-lg-4">
              <%= yield %>
              <%= render '/footer.*' %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render '/docsearch.*' %>
  <script type="application/javascript" src="<%= @items['/assets/javascripts/404.*'].path %>"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
  <script src="<%= @items['/frontend/404/404.*'].path %>"></script>
  <% if production? %>
  <%# Add analytics only in production %>
    <%= render '/analytics.*' %>
  <% end %>
  </body>
</html>
